{% extends 'server/admin_master.html' %}

    {% block title %}
    Facility
    {% endblock %}
    
    {% block content %}
        <button class="btn-primary" data-toggle="modal" data-target="#add"><span class="fa fa-plus"></span> ADD FACILITY</button>
        <br>
        <h2>AVAILABLE</h2>
        <table id="facility_available" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date Added</th>
                </tr>
            </thead>
            <tbody>
            {% for facility in facilities %}
                {% if facility.status == 1 %}
                <tr>
                        <td>{{ facility.id }}</td>
                        <td><a href="/view_admin_facility/{{ facility.id }}">{{ facility.name }}</a></td>
                        <td>{{ facility.date_added }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <br>
        <h2>UNAVAILABLE</h2>
        <table id="facility_unavailable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date Added</th>
                </tr>
            </thead>
            <tbody>
            {% for facility in facilities %}
                {% if facility.status == 0 %}
                <tr>
                        <td>{{ facility.id }}</td>
                        <td><a href="/view_admin_facility/{{ facility.id }}">{{ facility.name }}</a></td>
                        <td>{{ facility.date_added }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <div class="modal" id="add">
            <div class="modal-content">
                <div class="form-container">
                    <form action="/add_facility/" method="POST">
                        {% csrf_token %}
                        <label>Name: </label><input name="name" type="text" placeholder="Enter name" required>
                        <br>
                        <label>Status: </label>
                        <br>
                        <input type="radio" name="status" value="1" checked><label>Available</label>
                        <br>
                        <input type="radio" name="status" value="0"><label>Hidden</label>
                        <br>
                        <button type="submit" class="btn-primary"> ADD </button>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}