{% extends 'server/admin_master.html' %}
    
    {% block title %}
    Equipment
    {% endblock %}
 
    {% block content %}
        <button class="btn-primary" data-toggle="modal" data-target="#add"><span class="fa fa-plus"></span> ADD EQUIPMENT</button>
        <br>
        <h2>AVAILABLE</h2>
        <table id="available_equipment" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Date Added</th>
                </tr>
            </thead>
            <tbody>
                {% for equipment in equipments %}
                {% if equipment.status == 1 %}
                <tr>
                    <td>{{ equipment.id }}</td>
                    <td><a href="/view_admin_equipment/{{ equipment.id }}">{{ equipment.name }}</a></td>
                    <td>{{ equipment.quantity}}</td>
                    <td>{{ equipment.date_added }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <br>
        <h2>UNAVAILABLE</h2>
        <table id="unavailable_equipment" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Date Added</th>
                </tr>
            </thead>
            <tbody>
                {% for equipment in equipments %}
                {% if equipment.status == 0 %}
                <tr>
                    <td>{{ equipment.id }}</td>
                    <td><a href="/view_admin_equipment/{{ equipment.id }}">{{ equipment.name }}</a></td>
                    <td>{{ equipment.quantity}}</td>
                    <td>{{ equipment.date_added }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <div class="modal" id="add">
            <div class="modal-content">
                <div class="form-container">
                <form action="/add_equipment/" method="POST">
                    {% csrf_token %}
                    <label>Name: </label><input name="name" type="text" placeholder="Enter name" required>
                    <br>
                    <label>Quantity: </label><input type="text" name="quantity" placeholder="Enter quantity" required>
                    <br>
                    <label>Status: </label>
                    <br>
                    <input type="radio" name="status" value="1" checked><label>Available</label>
                    <br>
                    <input type="radio" name="status" value="0"><label>Hidden</label>
                    <br>
                    <button type="submit" class="btn-primary"> ADD </button>
                </form>
                </div>
            </div>
        </div>
    {% endblock %}