{% extends 'server/master.html' %}

    {% block title %}
    Facility
    {% endblock %}
    
    {% block content %}
        <a href="/add_facility"><button class="btn-primary"><span class="fa fa-plus"></span> ADD FACILITY</button></a>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
                <th>Date Added</th>
                <th>Borrower_ID</th>
                <th></th>
                <th></th>
            </tr>
            {% for facility in facilities %}
            <tr>
                <td>{{ facility.id }}</td>
                <td>{{ facility.name }}</td>
                <td>{{ facility.status }}</td>
                <td>{{ facility.date_added }}</td>
                <td>{{ facility.borrower_id }}</td>
                <td><a href="/edit_facility/{{ facility.id }}"><span class="fa fa-edit"></span> EDIT</a></td>
                <td><a href="/view_facility/{{ facility.id }}"><span class="fa fa-eye"></span> VIEW</a></td>
            </tr>
            {% endfor %}
        </table>
    {% endblock %}