{% extends 'server/admin_master.html' %}
    
    {% block title %}
    Equipment
    {% endblock %}
 
    {% block content %}
        <button class="btn-primary" data-toggle="modal" data-target="#add"><span class="fa fa-plus"></span> ADD EQUIPMENT</button>
        <table id="equipment" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Quantity</th>
                    <th>Date Added</th>
                </tr>
            </thead>
            <tbody>
                {% for equipment in equipments %}
                <tr>
                    <td>{{ equipment.id }}</td>
                    <td><a href="/view_admin_equipment/{{ equipment.id }}">{{ equipment.name }}</a></td>
                    {% if equipment.status == 0 %}
                    <td>Hidden</td>
                    {% else %}
                    <td>Available</td>
                    {% endif %}
                    <td>{{ equipment.quantity}}</td>
                    <td>{{ equipment.date_added }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="modal" id="add">
            <div class="modal-content">
                <div class="form-container">
                <form action="/add_equipment/" method="POST">
                    {% csrf_token %}
                    <label>Name: </label><input name="name" type="text">
                    <br>
                    <label>Status: </label>
                    <br>
                    <input type="radio" name="status" value="1" checked><label>Available</label>
                    <br>
                    <input type="radio" name="status" value="0"><label>Hidden</label>
                    <br>
                    <button type="submit" class="btn-primary"> ADD </button>
                </form>
                </div>
            </div>
        </div>
    {% endblock %}