{% extends 'server/admin_master.html' %}

{% block title %}
Reservation
{% endblock %}

{% block content %}
<table id="reservation" class="display">
            <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Borrower ID</th>
                    <th>Type</th>
                    <th>Item ID</th>
                    <th>Event Name</th>
                    <th>Quantity</th>
                    <th>Date of Application</th>
                    <th>Start Reservation</th>
                    <th>End Reservation</th>
                    <th>Status</th>
                    <th></th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
            {% for r in reservation %}
                <tr>
                        <!-- <td>{{ r.id }}</td> -->
                        <td>{{ r.borrower_id }}</td>
                        <td>{{ r.reserve_type }}</td>
                        <td>{{ r.item_id }}</td>
                        <td>{% if r.reserve_type == 'equipment' %} -- {% else %} {{ r.eventname }} {% endif %}</td>
                        <td>{% if r.reserve_type == 'facility' %} -- {% else %} {{ r.quantity }} {% endif %}</td>
                        <td>{{ r.date_application }}</td>
                        <td>{{ r.month }}-{{ r.start_day }}-{{ r.year }} {{ r.start_time}}:00</td>
                        <td>{{ r.month }}-{{ r.end_day }}-{{ r.year }} {{r.end_time}}:00</td>
                        {% if r.status == 0 %}
                        <td>Pending</td>
                        <td>
                            <button class="btn-primary">
                            <a class="button" href="/approve_reservation/{{ r.id }}">APPROVE</a>
                            </button>
                            <br>
                            <button class="btn-primary">
                            <a class="button" href="/reject_reservation/{{ r.id }}">REJECT</a>
                            </button>
                        </td>
                        {% elif r.status == 1 %}
                        <td>Approved</td>
                        {% if r.month <= current_month and r.end_day <= current_day %}
                        <td>
                            <button class="btn-primary" data-toggle="modal" data-target="#check_{{ r.id }}">CHECK</button>
                        </td>
                        {% endif %}
                        {% elif r.status == 2 %}
                        <td>Rejected</td>
                        <td></td>
                        {% else %}
                        <td>Completed</td>
                        <td></td>
                        {% endif %}
                        <td>{{ r.remarks }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% for r in reservation %}
        {% if r.status == 1 %}
        <div class="modal" id="check_{{ r.id }}">
            <div class="modal-content">
                <div class="form-container">
                    <form action="/check_reservation/{{ r.id }}" method="POST">
                        {% csrf_token %}
                        <label>Remarks: </label>
                        <br>
                        <textarea name="remarks" type="text" placeholder="Enter remarks here" required></textarea>
                        <button type="submit" class="btn-primary"> MARK AS COMPLETED </button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

{% endblock %}