{% extends 'server/master.html' %}

    {% block title %}
    Equipment
    {% endblock %}
    
    {% block content %}
            {% for equipment in equipments %}
                {% if equipment.status == 1 %}
                <div class="primary-container" style="width: 40%;">
                    <a href="/view_equipment/{{ equipment.id }}">
                    <h5>{{ equipment.name }}</h5>
                    </a>
                </div>
                {% endif %}
            {% endfor %}
    {% endblock %}