{% extends 'server/master.html' %}

    {% block title %}
    Equipment
    {% endblock %}
    
    {% block content %}
            <div class="row">
                <div class="col-md-3">
                    <img class="primary-img" src="../../static/img/facility.jpg">
                    <button data-toggle="modal" data-target="#apply" class="btn-primary" style="width: 100%;">APPLY FOR RESERVATION</button>
                    <h4>{{ equipment.name }}</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                
                <div class="col-md-9">
                    <table>
                        <thead>
                        <tr>
                            <th>SUNDAY</th>
                            <th>MONDAY</th>
                            <th>TUESDAY</th>
                            <th>WEDNESDAY</th>
                            <th>THURSDAY</th>
                            <th>FRIDAY</th>
                            <th>SATURDAY</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for t in time %}
                            <tr>
                                <td>{{ t }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal" id="apply">
                <div class="modal-content">
                        <div class="form-container">
                        <div class="form-container-header">
                            RESERVATION FORM
                        </div>
                        <div class="form-container-content">
                            <form action="/apply_reservation/{{ equipment.id }}" method="POST">
                            {% csrf_token %}
                            <h5><b>EQUIPMENT:</b> {{ equipment.name }}</h5>
                                        <input style="display: none;" type="text" name="type" value="1" />
                                        <input type="text" name="quantity" required>
                                        <label>: QUANTITY</label>
                                        <select name="month">
                                            <option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                        <label>: MONTH</label>
                                        <select name="start_day">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <label>: START DAY</label>
                                        <select name="end_day">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <label>: END DAY</label>
                                        <select name="start_time">
                                            <option value="6">6:00 AM</option>
                                            <option value="7">7:00 AM</option>
                                            <option value="8">8:00 AM</option>
                                            <option value="9">9:00 AM</option>
                                            <option value="10">10:00 AM</option>
                                        </select>
                                        <label>: START TIME</label>
                                        <select name="end_time">
                                            <option value="6">6:00 AM</option>
                                            <option value="7">7:00 AM</option>
                                            <option value="8">8:00 AM</option>
                                            <option value="9">9:00 AM</option>
                                            <option value="10">10:00 AM</option>
                                        </select>
                                        <label>: END TIME</label>
                                        <button type="submit" class="btn-primary">SUBMIT</button>
                                        <button type="button" class="btn-secondary">CANCEL</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
    {% endblock %} 