{% extends 'server/master.html' %}

    {% block title %}
    Equipment
    {% endblock %}
    
    {% block content %}
            <div class="row">
                <div class="col-md-3">
                    <img class="primary-img" src="../../static/img/facility.jpg">
                    <button data-toggle="modal" data-target="#apply" class="btn-primary" style="width: 100%;">APPLY FOR RESERVATION</button>
                    <h4>{{ equipment.name }}</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                
                <div class="col-md-9">
                    <div class="row">
                    <div id="schedule" style="width:100%;"></div>
                    <script>
                    $(function () {
                        $('#schedule').calendar({
                            months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                            days: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                            color: '#660000',
                            onSelect: function (event) {
                                $('#schedule-input').val(event.label);
                                display_schedule();
                            }
                        });
                    });
                    </script>
                    </div>
                    <div class="row">
                        <div class="schedule">
                            <input id="schedule-input" type="text" style="display: none;">
                            <div class="form-container-header" id="sched"></div>
                            <hr>
                            <div class="schedule-content">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="apply">
                <div class="modal-content">
                        <div class="form-container">
                        <div class="form-container-header">
                            RESERVATION FORM
                        </div>
                        <div class="form-container-content">
                            <form action="/apply_reservation/{{ equipment.id }}" method="POST">
                            {% csrf_token %}
                            <h5><b>EQUIPMENT:</b> {{ equipment.name }}</h5>
                                        <input style="display: none;" type="text" name="type" value="1" />
                                        <input type="text" name="quantity" required>
                                        <label>: QUANTITY</label>
                                        <select name="month">
                                            <option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                        <label>: MONTH</label>
                                        <select name="start_day">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <label>: START DAY</label>
                                        <select name="end_day">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <label>: END DAY</label>
                                        <select name="start_time">
                                            <option value="6">6:00 AM</option>
                                            <option value="7">7:00 AM</option>
                                            <option value="8">8:00 AM</option>
                                            <option value="9">9:00 AM</option>
                                            <option value="10">10:00 AM</option>
                                        </select>
                                        <label>: START TIME</label>
                                        <select name="end_time">
                                            <option value="6">6:00 AM</option>
                                            <option value="7">7:00 AM</option>
                                            <option value="8">8:00 AM</option>
                                            <option value="9">9:00 AM</option>
                                            <option value="10">10:00 AM</option>
                                        </select>
                                        <label>: END TIME</label>
                                        <button type="submit" class="btn-primary">SUBMIT</button>
                                        <button type="button" class="btn-secondary">CANCEL</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>

<script>
    var month = ['Month', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

    var date = $('#schedule-input').val();
    var args = date.split('.');
    $('#sched').text(month[parseInt(args[1])] + ' ' + args[0] + ', ' + args[2]);

    function display_schedule() {
        // alert('display schedule');
        if ( $('#schedule-input').val() != date) {
            // alert('Date has changed.');
            $('.schedule-content').empty();
            date = $('#schedule-input').val();
            var args = date.split('.');
            $('#sched').text(month[parseInt(args[1])] + ' ' + args[0] + ', ' + args[2]);
            var url = 'http://localhost:8000/api/schedule?item_type=1&item_id={{ equipment.id }}&year='+ parseInt(args[2]) +'&month=' + parseInt(args[1]) + '&day=' + parseInt(args[0])
            // alert(url);

            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json',
                success: function(data) {

                    var start = data[0]['time_start'];
                    var end = data[0]['time_end'];

                    if (data.length != 0) {

                        if ( (start - 12) < 0) {
                            start = start.toString() + ':00 AM';
                        } else if ( (start - 12) > 0 ) {
                            start = start - 12;
                            start = start.toString() + ':00 PM';
                        } else {
                            start = start.toString() + ':00 NN';
                        }
                        // alert(start);

                        if ( (end - 12) < 0) {
                            end = end.toString() + ':00 AM';
                        } else if ( (end - 12) > 0 ) {
                            end = end - 12;
                            end = end.toString() + ':00 PM';
                        } else {
                            end = end.toString() + ':00 NN';
                        }
                        // alert(end);

                        $('.schedule-content').append('<div><h5 class="schedule-content">Quantity: '+ data[0]['info'] +'</h5><h5 class="schedule-content">' + start + ' - ' + end +'</h5></div>');
                    }
                    
                },
                error: function() {
                    alert('Failed!');
                }
            });
        }
    }

</script>

    {% endblock %} 